<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보수정</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
    <header id="header-section" class="m-auto"  style="width: 540px">
        <div class="m-5">
            <form method="POST" onsubmit="return valid();" action="/edit/<%=data.id%>">
                <input name="_method" type="hidden" value="PATCH" />
                <div class="input-group mb-3">
                    <span class="input-group-text">이름</span>
                    <input id="name" name="name" type="text" class="form-control" placeholder="이름 입력" value="<%=data.name%>">
                </div>
                <div class="input-group mb-3">
                    <input id="email-id" name="email1" type="text" class="form-control" placeholder="이메일 입력" value="<%=data.email.split('@')[0]%>">
                    <input id="email-domain" name="email2" type="hidden" value="<%="@" + data.email.split("@")[1]%>">
                    <button id="email-domain-btn" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"><%="@" + data.email.split("@")[1]%></button>
                    <ul class="dropdown-menu dropdown-menu-right" id="email-dropdown">
                        <li><a class="dropdown-item" onclick="changeEmail(this.innerHTML)">@gmail.com</a></li>
                        <li><a class="dropdown-item" onclick="changeEmail(this.innerHTML)">@naver.com</a></li>
                        <li><a class="dropdown-item" onclick="changeEmail(this.innerHTML)">@hanmail.net</a></li>
                        <li><a class="dropdown-item" onclick="changeEmail(this.innerHTML)">@kakao.com</a></li>
                    </ul>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">주소</span>
                    <input id="address" name="address" type="text" class="form-control" placeholder="서울특별시 강남구 테헤란로 ..." value="<%=data.address%>">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">휴대폰 번호</span>
                    <input id="phone-first" name="phone1" type="hidden" value="<%=data.phone.split("-")[0]%>">
                    <button id="phone-first-btn" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"><%=data.phone.split("-")[0]%></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" onclick="changePhone(this.innerHTML)">010</a></li>
                        <li><a class="dropdown-item" onclick="changePhone(this.innerHTML)">011</a></li>
                        <li><a class="dropdown-item" onclick="changePhone(this.innerHTML)">016</a></li>
                        <li><a class="dropdown-item" onclick="changePhone(this.innerHTML)">017</a></li>
                        <li><a class="dropdown-item" onclick="changePhone(this.innerHTML)">018</a></li>
                        <li><a class="dropdown-item" onclick="changePhone(this.innerHTML)">019</a></li>
                    </ul>
                    <input id="phone-second" name="phone2" type="text" class="form-control text-center" placeholder="1234" value="<%=data.phone.split("-")[1]%>">
                    <input id="phone-third" name="phone3" type="text" class="form-control text-center" placeholder="5678" value="<%=data.phone.split("-")[2]%>">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                    <input id="info-checkbox" name="info" class="form-check-input" type="checkbox" value="" <%=data.agree==1?"checked":""%>>
                    </div>
                    <span type="text" class="form-control text-center" aria-label="Text input with checkbox">개인정보 활용 동의</span>
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary m-auto">수정하기</button> 
                    <button type="button" class="btn btn-danger m-auto" onclick="cancel()">취소하기</button>
                </div>
            </form>
        </div>
    </header>
    <script>
        const emailDomain = document.querySelector("#email-domain");
        const emailDomainBtn = document.querySelector("#email-domain-btn");
        const phoneFirst = document.querySelector("#phone-first");
        const phoneFirstBtn = document.querySelector("#phone-first-btn");
        function changeEmail(val){
            emailDomain.value = val;
            emailDomainBtn.innerHTML = val;
        }
        function changePhone(val){
            phoneFirst.value = val;
            phoneFirstBtn.innerHTML = val;
        }
        const name = document.querySelector("#name");
        const email = document.querySelector("#email-id");
        const phone2 = document.querySelector("#phone-second");
        const phone3 = document.querySelector("#phone-third");
        function valid(){
            if(!name.value){
                alert("이름을 입력하세요");
                return false;
            }
            else if(!email.value){
                alert("이메일을 입력하세요");
                return false;
            }
            else if(!phone2.value | !phone3.value){
                alert("휴대폰 번호를 입력하세요");
                return false;
            }
            else if(!(3<=phone2.value.length && phone2.value.length<=4) || !(phone3.value.length===4)){
                alert("휴대폰 번호가 올바르지 않습니다");
                console.log(phone2.value.length)
                console.log(phone3.value.length)
                return false;
            }
            else if(Number(phone2.value) === NaN || Number(phone3.value) === NaN){
                alert("휴대폰 번호는 숫자만 입력하세요");
                return false;
            }
            return true;
        }
        function cancel(){
            location.href="/";
        }
    </script>
    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>